<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Home</h1>
  <pre id="response"></pre>
  <input type="button" onclick="closeEvent()" value="Close Event Source" />
  <script>
    let responseElement = document.querySelector("#response")
    
    if (!window.EventSource) {
      throw new Error("This page requires EventSource support")
    }
    let url = `${window.location.protocol}//${window.location.host}/sse/apple`
    let source = window.source = new EventSource(url);
    source.addEventListener('whatever-event', function (e) {
      console.log(`whatever-event: ${e.data}`);
      responseElement.textContent = `event: ${e.type}\ndata: ${e.data}`
    }, false);

    source.addEventListener('open', function (e) {
      console.log("open");
      responseElement.textContent = `open`
    }, false);

    source.addEventListener('error', function (e) {
      console.log("error");
      responseElement.textContent = `error`
      if (e.readyState == EventSource.CLOSED) {
      }
    }, false);

    function closeEvent () {
      console.log("closeEvent")
      source.close()
    }
  </script>
</body>

</html>