<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Home</h1>
  <script>
    var ws = new WebSocket(`ws://${window.location.host}`)
    ws.onopen = event => {
      console.log(`websocket open event`)
      ws.send(`onopen at ${new Date()}`)
    }
    ws.onmessage = event => {
      console.log(`receive a server event: ${event.data}`)
      ws.send(`onmessage at ${new Date()}`)
    }
    ws.onclose = event => {
      console.log(`websocket close event`)
      ws.send(`onclose at ${new Date()}`)
    }
    ws.onerror = event => {
      console.log(`websocket error event`)
      ws.send(`onerror at ${new Date()}`)
    }

  </script>
</body>

</html>
